.div_um{
    background-color: grey;
    height: 50px;
}
.div_dois{
    background-color: royalblue;
    height: 400px;
}
.div_tres{
    background-color: grey;
    height: 50px;
}
.div_quatro{
    background-color: rebeccapurple;
    height: 50px;
}